files:
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIDOTCCAiGgAwIBAgIUL5FNgxm10INAguw9RhM4sEbDSL0wDQYJKoZIhvcNAQEL
      BQAwRTELMAkGA1UEBhMCQVUxEzARBgNVBAgMClNvbWUtU3RhdGUxITAfBgNVBAoM
      GEludGVybmV0IFdpZGdpdHMgUHR5IEx0ZDAeFw0yNDEyMDQwMjE0MzVaFw0yNTEy
      MDQwMjE0MzVaMEUxCzAJBgNVBAYTAkFVMRMwEQYDVQQIDApTb21lLVN0YXRlMSEw
      HwYDVQQKDBhJbnRlcm5ldCBXaWRnaXRzIFB0eSBMdGQwggEiMA0GCSqGSIb3DQEB
      AQUAA4IBDwAwggEKAoIBAQC6IDxJG3ueegewkwzEwQVfws18mvRBr1dCeVaT3w9O
      Ag1q3xObBpd41X8UcwNnCcvK6CovdBuE7DcNqn/y1u+RMvkYbivgZRgwI8wGqWKt
      CE8ktBpK3F+4SdM3xqgAKSwy9RiL/gffG185XbtgCNoaB1yPg77IsitiLfM4pfGQ
      UlrfGBjmWSQbfBi+2XLUw2XXGW0kA5oythA9cKe1G8Q1dLGlLOvC7F3HWuuMbpO6
      r0wj03zU9I0GlZfRFFe//iwtyA/93UR+lY/E5sWmTYv+ynMIBlq49jC6oyIQ7M7O
      2dRiVKmYpxM1P53dbVayG2FQuHgiYsKgDeey0sNridB1AgMBAAGjITAfMB0GA1Ud
      DgQWBBQP7K4nVeqhNPpeZ9+BNWMxuRuAajANBgkqhkiG9w0BAQsFAAOCAQEAc7hW
      Qh3TijgNE6zqnSu8IuQfcwuXFKcoD0C7cQqay2sSqOVWvsjoGGXkLGGFq4eJD10T
      X6hSfNudjlz9jyJMI67qSxbjgP+moEyeWgXx3FNsQgBjEIPnU5ZvRMnVexaHDa9x
      aV0wndczsBCM08eElpOnxsibqwYIoGNINBg4caZitOBa7q4JYQsG408WncggRCEb
      5+VWE4Pb1mU0VL35pOHeULcE0zuwLVl/m/LrO5HjlB7kGxk4OMzgLV4NIfQKJm/9
      mLFyWRloadZpNgmoCfQPI6tvA013lMcLzv0iAdbPzDUecAAykY+QNL9l1t+WWIQU
      MELqlzVjtyUIv6cNIQ==
      -----END CERTIFICATE-----
      
  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEvAIBADANBgkqhkiG9w0BAQEFAASCBKYwggSiAgEAAoIBAQC6IDxJG3ueegew
      kwzEwQVfws18mvRBr1dCeVaT3w9OAg1q3xObBpd41X8UcwNnCcvK6CovdBuE7DcN
      qn/y1u+RMvkYbivgZRgwI8wGqWKtCE8ktBpK3F+4SdM3xqgAKSwy9RiL/gffG185
      XbtgCNoaB1yPg77IsitiLfM4pfGQUlrfGBjmWSQbfBi+2XLUw2XXGW0kA5oythA9
      cKe1G8Q1dLGlLOvC7F3HWuuMbpO6r0wj03zU9I0GlZfRFFe//iwtyA/93UR+lY/E
      5sWmTYv+ynMIBlq49jC6oyIQ7M7O2dRiVKmYpxM1P53dbVayG2FQuHgiYsKgDeey
      0sNridB1AgMBAAECggEAAbsSgcXcZqsbqV1DXAyvxttEy2Y/zrY5cWq3mXeUc2/V
      SEY2RGBcO2QALZnAhpkCo4qjTR5/MgN7Teh6Y5udjdlY6SH/IklLtLOPLmGtWKQQ
      OQG8ETBO6zkJL9vW90IVa+I3vfeDrblaBOp1ogKQZU0RDobrA3/qo4aqBr++SQ6t
      mPx92u7Gxdurm14SDqoHTB/o5ooichgPrtEVu+bRYo8MTvLJdh8/KALVXWI2Xj+b
      YKxB5DkvbkkcIjNqDkmJkYOzI1wV8EMw7aSTQSaFOCKafAYb5llvZcmfKrl09DXP
      cBld3S/XQnnx8OvU4dgVL8aLjC54FoqYY+SdO5rpwQKBgQDe2pNpMjhfd0L7IP8T
      LxeEBtQxzap7eYLE9rBWa8uf6bzzMSCG5RIGqlEpPEGwKlBN+4hkkA8dDSadbiDK
      LgaU3r8Qu1AiJGM3BW2zqEhldeMbhTSkP7eqHgbhPUBoOAt5UbzQhnic/a5ra3Fo
      FY9fl1PNqkUtjkMbu42VLfmOQQKBgQDVzzOS2vbrXy4Ij+GL5r8vxybe8TxQ7mgk
      XaNGr2d5ukKiWEiSjYgHZrIECJchwFcHSA6lqsRTqqcOjz/CNG0zzKoi6ABaq8bM
      Mq080KRF8KGhHEgrsRQQjCY7SlzBvrUE4fogLlhr7pktmb3X/mdgnYk3cuSDmNbD
      OCKBtUIdNQKBgFFQfeMvgORMlvMdChWM5E63UyvM+HzPTIjj3lnaQVVbKyetcEno
      QZiPAshCBVHrTpv1wMG40trt1n4xFePPwXUGhb7sKgQbNNx5rZqVN71Vs4VyKFAa
      M8Dt7eK3v82HTaB506RevJnD8qWdcabh3wupItnzXASQWSpAWBvrx5hBAoGAdQNo
      C1gwyJIXpHHyE1neimxo1pyZ0QUZE8X3ZOj8LX+FlknQtfwlVT+b718wLzWPq5mB
      AqPZvJxpvysgzs1Ycn/xIRdtkjHuo7ScYOsi7HAMVRsgWGEaRRAeoFZLO3F+qkRu
      Woxisfcr9+vrHTnLI/IztZf4fhj4eHDRWcF0hH0CgYAZmTstqCyjQFsEl081FPSN
      ka94hUJPw2XZtzepm3vGSllzVL3VMyq0gxcUfn/Th4DHyUjhRPj9uNuk/lmdNsGY
      vLMOzsUG6KDa6C58TmlkD5YAvJPoa69JZUSoc0E+QjurtDdKy4SQ8ZAIUdpSdcOt
      ICipzVrMKU28btWzFgpP1Q==
      -----END RSA PRIVATE KEY-----

  /opt/elasticbeanstalk/hooks/appdeploy/post/99_start_httpd.sh:
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      sudo service httpd restart